<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/665726c0a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/scss/categories.css">
</head>

<body>
    <section class="container">
        <header class="header">
            <div class="header__logo">
                <a href="#">POC</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav__main__el">
                        <a href="#">Posts</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Tags</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Categories</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Authors</a>
                    </li>
                </ul>
            </nav>
            <div class="header__user">
                <div class="header__user__pic">
                    <i class="fas fa-user"></i>
                </div>
                <div class="header__user__username">
                    <h5>Username</h5>
                </div>
                <div class="header__user__logout">
                    <a>Logout</a>
                </div>
            </div>

        </header>
        <main class="main">
            <section class="all-categories">
                <div class="all-categories__head">
                    <div class="all-categories__head__new">
                        <a href="#">New Category</a>
                    </div>
                    <div class="all-categories__head__search">
                        <input type="text" placeholder="Enter a Category name here">
                    </div>
                    <div class="all-categories__head__search-button">
                        <a href="#">Search</a>
                    </div>
                </div>
                <hr>
                <div class="all-categories__body">

                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>






                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>



                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>


                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="all-categories__body__single-category">
                        <div class="all-categories__body__single-category__categoryName">
                            <a href="#">Category name</a>
                        </div>
                        <div class="all-categories__body__single-category__edit">
                            <a href="#"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="all-categories__body__single-category__delete">
                            <a href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>




















                </div>
            </section>


        </main>
        <footer class="footer">
            <p>copiright &copy 2020 daly tekam </p>
            <p>All Rights reserved </p>
        </footer>
        </div>
</body>

</html>