<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Single-Post</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/665726c0a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/scss/single-post.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <a>POC</a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav__main">
                    <li class="header__nav__main__el">
                        <a href="#">Posts</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Tags</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Categories</a>
                    </li>
                    <li class="header__nav__main__el">
                        <a href="#">Authors</a>
                    </li>
                </ul>
            </nav>
            <div class="header__user">
                <div class="header__user__pic">
                    <i class="fas fa-user"></i>
                </div>
                <div class="header__user__username">
                    <h5>Username</h5>
                </div>
                <div class="header__user__logout">
                    <a>Logout</a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="single-post-container">
                <section class="single-post-container__edit">
                    <a href="">Back</a>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </section>
                <section class="single-post-container__title">
                    <h4>Title of the blog</h4>
                </section>
                <section class="single-post-container__body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo
                        rerum sint nulla, dolor in aliquid sunt cumque tenetur ad autem
                        beatae culpa velit odit nobis eius aut doloribus ex mollitia. Ab
                        non accusantium aliquam id eum labore, ipsum deleniti quas? Lorem
                        ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
                        doloribus.
                    </p>
                </section>
                <section class="single-post-container__cat-and-tag">
                    <div class="single-post-container__cat-and-tag__cat">
                        <div class="single-post-container__cat-and-tag__cat__title">
                            <h4>categories</h4>
                        </div>
                        <div class="single-post-container__cat-and-tag__cat__cats">
                            <ul>
                                <li>category1</li>
                                <li>cat2</li>
                                <li>catego4</li>
                                <li>category9</li>
                                <li>category8</li>
                                <li>category98</li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-post-container__cat-and-tag__tag">
                        <div class="single-post-container__cat-and-tag__tag__title">
                            <h4>tags</h4>
                        </div>
                        <div class="single-post-container__cat-and-tag__tag__tags">
                            <ul>
                                <li>tag1</li>
                                <li>tagandtag2</li>
                                <li>tag4</li>
                                <li>othertag9</li>
                                <li>certaintag8</li>
                                <li>tag</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="single-post-container__auth-and-date">
                    <div class="single-post-container__auth-and-date__pic">
                        <img src="../static/images/imageedit_5_4500663819.png" alt="author picture">
                    </div>
                    <div class="single-post-container__auth-and-date__auth">
                        <p>By <span>Author</span></p>
                    </div>
                    <div class="single-post-container__auth-and-date__date">
                        <p>02/20/2020 09:48 am</p>
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <p>copiright &copy 2020 daly tekam</p>
            <p>All Rights reserved</p>
        </footer>
    </div>
</body>

</html>